<div class="wrapper-12 panel-wrapper">
  <h1><%= t("faqs.edit") %></h1>

  <% if can?(:update, @faq) %>
    <div class="panel panel-default panel-body">
      <%= render 'form', faq: @faq %>
    </div>
  <% else %>
    <div class="alert alert-danger">
      <h2><%= t("faqs.edit_faq_error") %></h2>
    </div>
  <% end %>
</div>