<div class="col-md-9">
	<span class="pull-left">
		<%= link_to t("links.back"), faqs_path, :class => "btn btn-default"  %>
	</span>
	<br><br><br>
	<% if signed_in? && can?(:update, @faq) %>
		<div>
			<h1><%= t("faqs.edit") %></h1>
			<%= render 'form' %>
		</div>
	<% else %>
		<div class="alert alert-danger">
	      <h2><%= t("faqs.edit_faq_error") %></h2>
	    </div>
	<% end %>
</div>