<div class="col-md-9">
	<span class="pull-left">
		<%= link_to t("helpers.links.back"), faqs_path, :class => "btn btn-default"  %>
	</span>
	<br><br>
	<div>
		<h1>Editing FAQ</h1>
		<%= render 'form' %>
	</div>
</div>