<div class="row">
    <div class="col-md-12">
        <% if signed_in? && can?(:update, @faq) %>
            <h2><%= t("faqs.edit") %></h2>
            <%= render 'form', faq: @faq %>
        <% else %>
            <div class="alert alert-danger">
                <h2><%= t("faqs.edit_faq_error") %></h2>
            </div>
        <% end %>
    </div>
</div>