<div class="col-md-9">
	<% if signed_in? && can?(:update, @faq) %>
		<div>
			<h1><%= t("faqs.edit") %></h1>
			<%= render 'form', faq: @faq %>
		</div>
	<% else %>
		<div class="alert alert-danger">
	      <h2><%= t("faqs.edit_faq_error") %></h2>
	    </div>
	<% end %>
</div>