[access "refs/*"]
	owner = group user/Thomas Kowark (tkowark)
[access "refs/for/refs/*"]
	read = group user/Thomas Kowark (tkowark)
	push = group user/Thomas Kowark (tkowark)
	label-Code-Review = -2..+2 group user/Thomas Kowark (tkowark)
	label-Verified = -1..+1 group user/Thomas Kowark (tkowark)
	rebase = group user/Thomas Kowark (tkowark)
	removeReviewer = group user/Thomas Kowark (tkowark)
	submit = group user/Thomas Kowark (tkowark)
[access "refs/heads/*"]
	read = group user/Thomas Kowark (tkowark)
	create = group user/Thomas Kowark (tkowark)
	push = +force group user/Thomas Kowark (tkowark)
	pushMerge = group user/Thomas Kowark (tkowark)
[access "refs/tags/*"]
	push = +force group user/Thomas Kowark (tkowark)
	pushTag = group user/Thomas Kowark (tkowark)
	pushSignedTag = group user/Thomas Kowark (tkowark)
