<li class="list-group-item">
  <h4><%= link_to student.full_name, student_path(student) %></h4>
  <% unless student.activated %>
    <span class="label label-danger"><%= t("users.inactive")%></span>
  <% end %>
</li>