<h1>Student editieren</h1>

<%= render 'form' %>

<div class="pull-left"><%= link_to 'Back', students_path, class: "btn btn-default"%></div>
<div class="pull-right"><%= link_to 'Show', @student, class: "btn btn-info" %></div>