<li class="list-group-item">
    <%= link_to chair.name, chair, :class => "h4" %>
    <div class="pull-right">
    	<%= t("activerecord.attributes.chair.head_of_chair") %>: <%= chair.head_of_chair %>
    </div>
    <br><br>
    <p class="desciption"> 
    	<%= chair.description.html_safe %>
	</p>
</li>