<h1 style="display:inline" ><%= t('chairs.chair_overview') %></h1>
<%= link_to t('chairs.new_chair'), new_chair_path, "data-no-turbolink" => true, :type => "button", :class => "btn btn-default pull-right" %>

<br><br>
<div class="row"> 
  <ul class="list-group">
    <div class="row">
      <div class="col-md-12">
        <%= render @chairs %>
      </div>
    </div>
  </ul>
</div>

<%= will_paginate @users, renderer: BootstrapPagination::Rails%>

