<div class="row">
  <div class="col-md-12">
  	<%= link_to t('chairs.new_chair'), new_chair_path, "data-no-turbolink" => true, :class => "btn btn-default pull-right", :style => "margin-top: 20px" %>
	<h1><%= t('chairs.chair_overview') %></h1>
	
	  <ul class="list-group">
	    <div class="row">
	      <div class="col-md-12">
	        <%= render @chairs %>
	      </div>
	    </div>
	  </ul>
	</div>
</div>

<%= will_paginate @chairs, renderer: BootstrapPagination::Rails%>

