<div class="wrapper-12 panel-wrapper">
  <h1><%= t("users.staff_headline")%></h1>
</div>

<div class="wrapper-12 teaser">
  <div class="col-md-12 list-container">
    <ul class="list-group list">
    <% @staff_members.each do |staff| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-11">
            <h4><%= link_to staff.firstname + " " + staff.lastname, staff_path(staff) %></h4>
          </div>
        </div>
      </li>
    <% end %>
    </ul>
    <div class="pull-right">
      <%= will_paginate @staff_members, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div
