<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @user_status.description %>
</p>

<%= link_to 'Edit', edit_user_status_path(@user_status) %> |
<%= link_to 'Back', user_statuses_path %>
