<h1><%= t "job_offers_mailer.job_offer_accepted.title"+" ("+@job_offer.title+")" %></h1>
<p>
    <%= t "job_offers_mailer.job_offer_accepted.content" %>
</p>
<p>
	<%= t "applications_mailer.last_line" %>
</p>
