<h3><%= t "job_offers_mailer.job_offer_declined.title", job_title: @job_offer.title %></h3>
<p>
    <%= t "job_offers_mailer.job_offer_declined.content", email: @job_offer.responsible_user.email %>
</p>
<p> 
	<%= t "applications_mailer.last_line" %>
</p>
