<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= (t "job_offers_mailer.deputy_accepted.title") +" ("+@job_offer.title+")" %></h1>
    <p>
      <%= t "job_offers_mailer.deputy_accepted.content" %>
    </p>
  </body>
</html>