(For an English translation, scroll down.)

<h1>Sehr geehrte Damen und Herren</h1>,

<%= link_to(@job_offer.assigned_students.last.firstname + ' ' + @job_offer.assigned_students.last.lastname, controller:"students", action: "show", id: @job_offer.assigned_students.last.id, only_path: false)%> wurde soeben für das Jobangebot <%= link_to @job_offer.title, controller:"job_offers", action: "show", id: @job_offer.id, only_path: false%> eingestellt.

Grüße, Das HPI-HiWi-Portal Team.

(Dies ist eine maschinell erstellte Email, bitte antworte nicht darauf.)

<hr>

<h1>Dear Sir or Madam</h1>

<%= link_to(@job_offer.assigned_students.last.firstname + ' ' + @job_offer.assigned_students.last.lastname, controller:"students", action: "show", id: @job_offer.assigned_students.last.id, only_path: false)%> is been accepted for the job offer <%= link_to @job_offer.title, controller:"job_offers", action: "show", id: @job_offer.id, only_path: false%>.

Regards, The HPI-HiWi-Portal Team.

(This is an automatically created email, please do not respond to it.