(For an English translation, scroll down.)

<h1>Sehr geehrte Damen und Herren</h1>,

der Job <%= link_to(@job_offer.title,  url_for(controller:"job_offers", action: "show", id: @job_offer.id, only_path: false))%> wurde soeben verlängert. Das neue Enddatum ist: <%=@job_offer.end_date%>.

Grüße,
Das HPI-HiWi-Portal Team.

(Dies ist eine maschinell erstellte Email, bitte antworte nicht darauf.)

<hr>

<h1>Dear Sir or Madam</h1>

the job <%= link_to(@job_offer.title,  url_for(controller:"job_offers", action: "show", id: @job_offer.id, only_path: false))%> has been prolonged. The new end date is: <%=@job_offer.end_date%>.

Regards,
The HPI-HiWi-Portal Team.

(This is an automatically created email, please do not respond to it.)