(For an English translation, scroll down.)<br>
<br>
<h1>Sehr geehrte Damen und Herren</h1>,<br>
<br>
<%= link_to(@job_offer.assigned_students.last.firstname + ' ' + @job_offer.assigned_students.last.lastname, controller:"students", action: "show", id: @job_offer.assigned_students.last.id, only_path: false)%> wurde soeben für das Jobangebot <%= link_to @job_offer.title, controller:"job_offers", action: "show", id: @job_offer.id, only_path: false%> eingestellt.<br>
<br>
Grüße, Das HPI-HiWi-Portal Team.<br>
<br>
(Dies ist eine maschinell erstellte Email, bitte antworte nicht darauf.)<br>
<br>
<hr>
<br>
<h1>Dear Sir or Madam</h1><br>
<br>
<%= link_to(@job_offer.assigned_students.last.firstname + ' ' + @job_offer.assigned_students.last.lastname, controller:"students", action: "show", id: @job_offer.assigned_students.last.id, only_path: false)%> is been accepted for the job offer <%= link_to @job_offer.title, controller:"job_offers", action: "show", id: @job_offer.id, only_path: false%>.<br>
<br>
Regards, The HPI-HiWi-Portal Team.<br>
<br>
(This is an automatically created email, please do not respond to it.