<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= t "job_offers_mailer.title" %></h1>
    <p>
      <%= t "job_offers_mailer.content" %>
      <%= link_to (t "job_offers_mailer.link"), job_offers_url(@job_offer) %>
    </p>
  </body>
</html>