(For an English translation, scroll down.)

<H1>Hallo <%=@student.firstname%></H1>,

gute Nachrichten: Es gibt ein neues Jobangebote, das Dich interessieren könnten:

<%= link_to(@job_offer.title, url_for(controller:"job_offers", action: "show", id: @job_offer.id, only_path: false))%>

Vielleicht ist das ja was Passendes für dich?

Grüße,
Das HPI-HiWi-Portal Team.

(Dies ist eine maschinell erstellte Email, bitte antworte nicht darauf.)

<hr>

<h1>Dear <%= @student.firstname%></h1>

good news! There is a new job offers that might be interesting for you:

<%= link_to(@job_offer.title, url_for(controller:"job_offers", action: "show", id: @job_offer.id, only_path: false))%>

Visit our HPI-HiWi-Portal if you're interested!

Regards,
The HPI-HiWi-Portal Team.

(This is an automatically created email, please do not respond to it.)