<div>
  <h1><%= t("shared.contact_headline") %></h1>
    <p>
        <strong>Team HPI Connect</strong><br>
        Claudia Koch: 0331 5509-291<br>
        Dr. Nadja Antoine: 0331 5509-107<br>
        <a href="mailto:connect@hpi.de">connect@hpi.de</a><br>
        <br>
        Hasso-Plattner-Institut für Softwaresystemtechnik GmbH<br>
        Prof.-Dr.-Helmert-Str. 2-3<br>
        D-14482 Potsdam<br>
        <a href="http://www.hpi.de/connect">www.hpi.de/connect</a>
  </p>
</div>



