<% if object.errors.any? %>
  <div id="object_errors">
    <div class="alert alert-danger" style="<%= style if defined? style %>">
        <%= object.errors.full_messages.to_sentence %>
    </div>
  </div>
<% end %>