<div class="wrapper-12 panel-wrapper">
<h1>HPI Connect Jobportal – Datenschutzerklärung</h1>
</div>

<div class="wrapper-12 teaser">
<div class="col-md-12">
<br/>
<p>
<h4>1. Privatsphäre und Datenschutz</h4>
Das Hasso-Plattner-Institut bietet Ihnen mit HPI Connect neben allgemein zugänglichen Angeboten die Möglichkeit, als registrierter Nutzer im HPI Connect Jobportal Jobangebote einzusehen bzw. als Unternehmen Jobangebote und ein Unternehmensprofil einzustellen. Als Studierender und Alumni haben Sie auch die Möglichkeit, ein eigenes Profil mit Daten zu Ihrem Lebenslauf und beruflichen Erfahrungen zu erstellen, welches Sie interessierten Unternehmen präsentieren können.<br/>
<br/>
Bei der Registrierung für das Angebot ist eine Erhebung und Speicherung personenbezogener Daten unumgänglich. Mit der Registrierung stimmen Sie der geltenden Datenschutzerklärung zu. Der Schutz dieser Daten ist Vertrauenssache und Ihr Vertrauen ist uns wichtig. Die gesetzeskonforme Erhebung, Verarbeitung und Nutzung Ihrer personenbezogenen Daten sind uns daher ein besonderes Anliegen. Wir möchten Sie deshalb an dieser Stelle darüber informieren, welche Daten erhoben werden, wenn Sie diese Webseite besuchen und sich im Jobportal registrieren. Weiter möchten wir Ihnen mitteilen, zu welchem Zweck diese Daten erhoben und in welchem Umfang sie verwendet werden.<br/>
<br/>
Diese Datenschutzerklärung können Sie auf der Webseite unseres Angebots unter dem Button Datenschutz abrufen und über die Funktionen Ihres Browsers ausdrucken und/oder abspeichern.
</p>
<br/>
<p>
<h4>2. Widerspruchs- und Auskunftsrecht</h4>
Etwaige Informationsangebote per Post und/oder per E-Mail oder andere erteilte Einwilligungen jedweder Art können Sie jederzeit formlos per Brief an Hasso-Plattner-Institut für Digital Engineering gGmbH, Prof.-Dr.-Helmert-Str. 2-3,14482 Potsdam oder per E-Mail an unseren Datenschutzbeauftragten (datenschutz(at)hpi.de) mit Wirkung für die Zukunft widerrufen.<br/>
Weiter erteilt Ihnen unser Datenschutzbeauftragter auch Auskunft über Ihre bei uns gespeicherten Daten und nimmt auf Ihren Wunsch die vollständige Löschung bzw. Sperrung derselben vor.<br/>
Dazu richten Sie bitte Ihre Anfrage schriftlich an:<br/>
<br/>
Hasso-Plattner-Institut für Digital Engineering gGmbH<br/>
Datenschutzbeauftragter<br/>
Campus Griebnitzsee (Prof.-Dr.-Helmert-Str. 2-3)<br/>
14482 Potsdam<br/>
<br/>
oder alternativ per E-Mail: datenschutz(at)hpi.de.<br/><br/>
Sie haben jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung sowie ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden.
</p>
<br/>
<p>
<h4>3. Erhebung, Verarbeitung und Nutzung von personenbezogenen Daten</h4>
Personenbezogene Daten sind Angaben über sachliche oder persönliche Verhältnisse einer bestimmten oder bestimmbaren natürlichen Person. Hierunter fallen vor allem Angaben, die Rückschlüsse auf Ihre Identität ermöglichen, beispielsweise Ihr Name, Ihre Telefonnummer, Ihre Anschrift oder E-Mail-Adresse. Statistische Daten, die wir beispielsweise bei einem Besuch unserer Webseite erheben und die nicht direkt mit Ihrer Person in Verbindung gebracht werden können, fallen nicht darunter. Zum Beispiel sind dies Statistiken darüber, wie häufig bestimmte Seiten besucht werden.<br/>
<br/>
Bei einer Registrierung im HPI Connect Jobportal, die nötig ist um Stellenanzeigen zu sehen oder ein eigenes Profil anzulegen, müssen Sie folgende Daten angeben:<br/>
<br/>
• E-Mail<br/>
• Vollständiger Vor- und Nachname<br/>
<br/>
Bei Unternehmen wird darüber hinaus auch der Unternehmensname und die Unternehmensanschrift gespeichert.<br/>
<br/>
Folgende Angaben können Sie darüber hinaus freiwillig bei der Registrierung mitteilen:<br/>
<br/>
1) bei Studierenden/Alumni:<br/>
<br/>
• Semester<br/>
• Studiengang<br/>
<br/>
2) bei Unternehmen:<br/>
<br/>
• Unternehmenslogo<br/>
<br/>
Wir speichern die von Ihnen eingegebenen Daten zur Errichtung Ihres Benutzerkontos, über das Sie dann mit Ihrer E-Mail-Adresse sowie dem von Ihnen gewählten Passwort Zugriff auf das Angebot haben.<br/>
<br/>
Bei der Nutzung der Angebote können über die Registrierungsdaten hinaus weitere Daten eingegeben werden, bspw. um ein eigenes Profil zu erstellen und ggf. zu veröffentlichen und somit anderen registrierten Nutzern des Portals zugänglich zu machen.<br/>
    1) bei Studierenden und Alumni sind dies: Geburtsdatum, pdf-Dateien mit dem Lebenslauf oder Zeugnissen, Studienabschlüsse, Kenntnisse von Programmiersprachen und Sprachen, Lebenslaufdaten wie Berufserfahrung und Ausbildung sowie Links zu anderen Social Media Profilen.<br/>
    2) bei Unternehmen sind dies bspw. für das Erstellen eines Unternehmensprofils folgende Daten: Beschreibung des Unternehmens, Anzahl der Mitarbeiter im Unternehmen, Sitz des Unternehmens, Website, Gründungsjahr. Beim Erstellen eines Jobangebotes Informationen zum Job, ggf. Ansprechperson.<br/>
<br/>
<h5>3.1 Nutzung und Weitergabe personenbezogener Daten</h5>
Die erhobenen Daten werden nur im gesetzlich vorgesehenen Rahmen, insbesondere nach den Vorschriften des Bundesdatenschutzgesetzes (BDSG) und der Datenschutz-Grundverordnung (DSGVO), sowie ausschließlich zum Zweck des Jobportals, verarbeitet und genutzt.<br/>
<br/>
<h5>3.2 Weitergabe an Dritte</h5>
Eine Weitergabe oder sonstige Übermittlung Ihrer Daten an Dritte erfolgt nicht.<br/>
</p>
<br/>
<p>
<h4>4. Cookies und Trackingtechnologien</h4>
Diese Internetseite verwendet sogenannte Cookies. Jeder Ihrer Zugriffe auf das Internetangebot des HPI wird in Server-Log Dateien mit folgenden Daten gespeichert:<br/>
<br/>
• Name der abgerufenen Datei<br/>
• Datum und Uhrzeit des Abrufs<br/>
• übertragene Datenmenge<br/>
• Meldung, ob der Abruf erfolgreich war<br/>
• IP-Adresse<br/>
• die zuvor-aufgerufene Webadresse (Referrer-URL)<br/>
• Informationen zu Betriebssystem<br/>
• Browser<br/>
• Hostname<br/>
<br/>
Die durch den Cookie erzeugten Informationen über Ihre Benutzung unseres Internetangebotes werden auf dem Server des Anbieters in Deutschland gespeichert. Diese Daten werden nur zur Optimierung des Internetangebotes ausgewertet. Eine Weitergabe an Dritte, zu kommerziellen oder nichtkommerziellen Zwecken, findet nicht statt.<br/>
Die IP-Adresse wird sofort nach der Verarbeitung und vor deren Speicherung anonymisiert. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen unserer Website vollumfänglich nutzen können. <br/>
<br/>
Zusätzlich setzen wir auch JavaScript und Flash ein, um die Benutzerfreundlichkeit unseres Internetangebots zu erhöhen.<br/>
JavaScript speichert keine personenbezogenen Daten. Wenn Sie über Ihre Browser-Einstellung JavaScript abschalten, können Sie unsere Internetangebote dennoch weitgehend nutzen.<br/>
Cookies dienen dazu, unser Angebot benutzerfreundlicher zu machen. Cookies sind kleine Textdateien, die auf den Rechner abgelegt werden und die ihr Browser speichert. Die meisten der von uns verwendeten sind so genannte "Session-Cookies", diese werden nach Ende Ihres Besuchs automatisch gelöscht. HTTP Cookies werden in den Header (Kopfzeilen) via HTTP übertragen. Sie dient der Identifizierung des Teilnehmers, wobei der Browser dem Nutzer meist einschränkende Einstellungen anbietet:<br/>
<br/>
• Keine Cookies annehmen<br/>
• Benutzer bei jedem Cookie fragen<br/>
• Alle Cookies bei Beendigung des Client löschen<br/>
• u.v.m.
</p>
<br/>
<p>
<h4>5. Server Log Files</h4>
Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log Dateien, die Ihr Browser automatisch an uns übermittelt (Siehe auch Punkt 3).<br/>
Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden. Im Fehlerfall wird die vollständige IP-Adresse für maximal 14 Tage gespeichert.
</p>
<br/>
<p>
<h4>6. SSL-Verschlüsselung</h4>
Diese Seite nutzt aus Gründen der Sicherheit und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL-Verschlüsselung. Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von "http://" auf "https://" wechselt und an dem Schloss-Symbol in Ihrer Browserzeile. Wenn die SSL Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.<br/>
</p>
<br/>
<p>
<h4>7. Webfonts</h4>
Für die Nutzung von Schriftarten auf unserer Webseite werden die IP Adresse und abhängig von (ihren) Browsereinstellungen weitere Daten übertragen an:<br/>
<br/>
Monotype GmbH<br/>
Horexstraße 30<br/>
61352 Bad Homburg<br/>
Deutschland<br/>
<br/>
Die Datenschutzerklärung kann unter https://www.monotype.com/de/rechtshinweise/datenschutzrichtlinie/ eingesehen werden.
</p>
<p>
Stand: Mai 2018
</p>
</div>
</div>
