<h1>Editing programming_language</h1>

<%= render 'form', programming_language: @programming_language %>

<%= link_to 'Show', @programming_language %> |
<%= link_to 'Back', programming_languages_path %>
