<p>
  <strong>Name:</strong>
  <%= @programming_language.name %>
</p>

<%= link_to 'Edit', edit_programming_language_path(@programming_language) %> |
<%= link_to 'Back', programming_languages_path %>
