<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @student_status.description %>
</p>

<%= link_to 'Edit', edit_student_status_path(@student_status) %> |
<%= link_to 'Back', student_statuses_path %>
