// Place all the styles related to the admin/configurables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form[action*="configurable"]{
	@import "bootstrap/variables";
	max-width: $screen-xs;
	.configurable{
		@extend .form-group;
		input{
			@extend .form-control;
		}
		&+ input{
			@extend .btn;
			@extend .btn-success;
		}
	}
}
