<h1><%= t "applications_mailer.students.accepted.title" %></h1>
<p>
    <%= t "applications_mailer.students.accepted.content", employer: @application.job_offer.employer, job_title: @application.job_offer.title %>
</p>
<p> 
	<%= t "applications_mailer.last_line" %>
</p>

