
<h1><%= t "applications_mailer.students.declined.title" %></h1>
<p>
    <%= t "applications_mailer.students.declined.content", employer: @application.job_offer.employer, job_title: @application.job_offer.title %>
</p>
<p>
	<%= t "applications_mailer.last_line" %>
</p>

