      <ul class="list-group">
      <% @job_offers.each_with_index do |job_offer, index| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-8">
              <h4><%= link_to job_offer.title, job_offer%></h4>
            </div>
            <div class="col-md-4">
              <p class="startDate"><%= t("job_offers.starts ") %><%= l(job_offer.start_date) %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-11 col-md-offset-1">
              <p class="chair"><%= job_offer.chair %></p>
            </div>
          </div>
        </li>
      <%end%>
    </ul>