<div class="well sidebar-nav" id="sidebar">
    <ul class="nav nav-list">
		<li class="nav-header">Sidebar</li>
		<li><%= link_to t("job_offers.overview"), job_offers_path  %></li>
		<li><%= link_to t("job_offers.create_new_job_offer"), new_job_offer_path  %></li>
		<li><%= link_to t("job_offers.archive"), archive_job_offers_path  %></li>
	</ul>
</div><!--/.well -->