<div class="well sidebar-nav" id="sidebar">
    <ul class="nav nav-list">
      <li class="nav-header">Sidebar</li>
      <li><%= link_to "Jobs Overview", job_offers_path  %></li>
      <li><%= link_to "Create Job Offer", new_job_offer_path  %></li>
      <li><%= link_to "Archive", archive_job_offers_path  %></li>
    </ul>
 </div><!--/.well -->
