<div class="row">
  <div class="col-md-9"> 
    <div class="row">
      <% @find_jobs_path = find_archived_jobs_job_offers_path %>
      <%= render 'shared/overview' %>
    </div><!--/.row -->
  </div><!--/.span -->
  <div class="col-md-3">
  	<%= render 'shared/sort_filter_search'  %>
  </div>
</div> <!-- /row -->


