<div class="row">
  <div class="col-md-8"> 
    <div class="row">
      <h1> <%= t "job_offers.headline"%> - <%= t "job_offers.archive"%></h1> 
      <%= render 'overview' %>
    </div><!--/.row -->
  </div><!--/.span -->
  <%= render 'sort_filter_search'  %>
</div> <!-- /row -->


