<div class="wrapper-12 panel-wrapper">
  <h1><%= t("job_offers.archive")%></h1>
</div>

<div class="wrapper-8 teaser">
  <div class="col-md-8 list-container">
    <div class="row">
      <%= render 'shared/jobs_listing_detailed' job_offer_list: @job_offers_list[:items] %>
    </div><!--/.row -->
  </div><!--/.span -->
</div>
<div class="wrapper-5 teaser sidebar">
  <div class="col-md-4">
    <%= render 'shared/sort_filter_search', find_path: archive_job_offers_path %>
  </div>
</div>