<div class="row">
  <div class="col-md-9">
    <div class="row">
      <%= render 'shared/jobs_listing_detailed', name: @job_offers_list[:name], job_offer_list: @job_offers_list[:items] %>
    </div><!--/.row -->
  </div><!--/.span -->
  <div class="col-md-3">
    <%= render 'shared/sort_filter_search', find_path: archive_job_offers_path %>
  </div>
</div> <!-- /row -->


