
<div class="span9">
<span class="pull-left">
	<%= link_to 'Back', job_offers_path, :class => "btn"  %>
</span>
<span class="pull-right">
<%= link_to 'Show', @job_offer, :class => "btn btn-warning", :confirm => 'Are you sure you want to discard your changes?' %> 
</span>
<br><br>
<div class="panel">
<h2>Editing Job Offer</h2>
<%= render 'form' %>
</div>
</div>


