
<div class="col-md-9">
<span class="pull-left">
	<%= link_to t("helpers.links.back"), job_offers_path, :class => "btn btn-default"  %>
</span>
<span class="pull-right">
<%= link_to t("helpers.links.show"), @job_offer, :class => "btn btn-default btn-warning", :confirm => t("helpers.links.discard") %> 
</span>
<br><br>
<div class="panel panel-default panel-body">
<h2><%= t("job_offers.edit_job_offer")%></h2>
<%= render 'form' %>
</div>
</div>


