<div class="row">
	<div class="col-md-3">
       <%= render 'sidebar'  %>  
  	</div><!--/span-->
  <div class="col-md-6"> 
    <div class="row">
      <%= link_to t("job_offers.new_job_offer"), new_job_offer_path, :class => "btn btn-success", :style => "margin-bottom: 20px"%>
       <%= render 'shared/overview' %>
    </div><!--/.row -->
  </div><!--/.span -->
  <% @find_jobs_path = find_job_offers_path %>
  <div class="col-md-3">
  	<%= render 'shared/sort_filter_search'  %>
  </div>
</div> <!-- /row -->