<div class="row">
  <div class="col-md-9"> 
    <div class="row">
      <div id="buttons">
      <%= link_to t("job_offers.new_job_offer"), new_job_offer_path, "data-no-turbolink" => true, :class => "btn btn-default pull-right", :style => "margin-bottom: 20px"%>
      <%= link_to t("job_offers.archive"), archive_job_offers_path, :class => "btn btn-default pull-right", :style => "margin-bottom: 20px"  %>
       <%= render 'shared/overview', name: @job_offers_list[:name], job_offer_list: @job_offers_list[:items] %>
     </div>
    </div><!--/.row -->
  </div><!--/.span -->
  <div class="col-md-3">
  	<%= render 'shared/sort_filter_search', find_path: job_offers_path %>
  </div>
</div> <!-- /row -->