
<div class="row">


  <div class="col-md-8"> 
    <div class="row">
      <h1> <%= t "job_offers.headline" %> </h1> 
      <%= link_to t("job_offers.new_job_offer"), new_job_offer_path, :class => "btn btn-success", :style => "margin-bottom: 20px"%>
       <%= render 'overview' %>
    </div><!--/.row -->
  </div><!--/.span -->
  <%= render 'sort_filter_search'  %>
</div> <!-- /row -->


