<div class="row">
	<div class="col-md-12">
	<span class="pull-left">
		<%= link_to t("links.back"), job_offers_path, :class => "btn btn-default"  %>
	</span>
	<br><br>
	<div class="panel panel-default panel-body">
		<h2><%= t("job_offers.new_job_offer") %></h2>
		<%= render 'form' %>
	</div>
</div>