
<div class="col-md-9">
<span class="pull-left">
	<%= link_to 'Back', job_offers_path, :class => "btn btn-default"  %>
</span>
<br><br>
<div class="panel">
<h2>New Job Offer</h2>
<%= render 'form' %>
</div>
</div>