/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap/bootstrap
 *= require jquery.ui.datepicker
 *= require jquery-star-rating
 *= require_self
 *= require_tree .
 *= require font-awesome
 */

 h1, h2, h3, h4, h5, label, a, .btn-default {
  color: #e46e26;
}


label.small {
  color: #000000;
}

a:hover, a:focus, .btn-default:hover  {
	color: #b0063a;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #e46e26;
	border-color: #e46e26;
}
