// Place all the styles related to the applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar .navbar-brand{
	padding: 1px;
}
.navbar .logo{
	height: 48px;
}

.navbar {
	border-radius: 0px;
}

.clickable:hover{
	background:#ddd;
	cursor:pointer;
}
body {
	padding-bottom: 70px;
}