/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap/bootstrap
 *= require jquery.ui.datepicker
 *= require jquery-star-rating
 *= require_self
 *= require bootsy
 *= require_tree .
 *= require font-awesome
 */

 h1, h2, h3, h4, h5, a, .h1, .h2, .h3, .h4, .h5, .a {
  color: #e0671e;
}

label {
	font-weight: normal;
}

.btn-default {
	background-color: #f5f5f5;
	color: #000;
}

.btn-warning {
	background-color: #e0671e;
	color: #FFF;
}

.btn-danger {
	background-color: #e0671e;
	color: #FFF;
}

.btn-danger:hover {
	background-color: #b1063a
}

.wysihtml5-sandbox{
	resize: both;
}

label.small {
  color: #000000;
}

a:hover, a:focus, .btn-default:hover  {
	color: #b1063a;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #e0671e;
	border-color: #e0671e;
}
