// Place all the styles related to the employers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.employer-thumbnail{
  margin-right:20px;
  width:160px;
  height:160px;
  background:#aaa;
  border:2px solid #123456;
}
