span.label.label-warning {
    vertical-align: middle;
    font-size: 15px;
}
.employers-extra-information {
    display: none;
}
.package-div {
    width: 25%;
    float: left;
    min-width: 100px;

    ul {
        padding: 0 17px;
        margin-left: 20px;
    }
}

.pay-div {
  width: 25%;
  float: left;
  min-width: 100px;

  label {
    font-weight: bold;
  }
  ul {
    padding: 0 17px;
    margin-left: 20px;
  }
}

.row.invite-colleague{
  margin-top: 5px;
}

div.description-text{
  text-align: left;
}