span.label.label-warning {
	vertical-align: middle;
	font-size: 15px;
}
.employers-extra-information {
    display: none;
}
.package-div {
    width: 33%;
    float: left;
    min-width: 100px;

    ul {
        padding: 0 17px;
    }
}
