span.label.label-warning {
    vertical-align: middle;
    font-size: 15px;
}
.employers-extra-information {
    display: none;
}
.package-div {
    width: 25%;
    float: left;
    min-width: 100px;

    ul {
        padding: 0 17px;
        margin-left: 20px;
    }
}

.booked-package {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: lightblue;
    text-indent: 0px !important;
    margin-left:-30px;

}

.booked-package li {
    padding:0 0 0 30px ;
}

.package-indenting {
    margin-left: 10px;
}