body {
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu-dropdown {
    float: right;
    font-size: 18px;
    margin-top: 6px;
    list-style: none;
    position: relative;

    a.dropdown-toggle {
        color: #dedfe0;
        height: 100%;
        display: inline-block;
        position: relative;
        top: 3px;
    }
}

#social {
    width: 280px !important;
}

.container {
    padding: 0;
}
.logo-container {
    overflow: hidden;
}
.smallheader.headwrapper h1 {
    display: block;
    margin-top: -30px;
    width: 1180px;
    margin-left: -10px;
}
.wrapper-12.teaser {
    width: 100%;
}

@media (min-width: 1024px) {
    .col-md-12 {
        width: 976px;
    }
    .col-md-8 {
        width: 644px;
    }
    .col-md-4 {
        width: 312px;
    }
}
@media (min-width: 1280px) {
    .bigheader {
        width: 1200px;
    }
    .col-md-12 {
        width: 1180px;
    }
    .col-md-8 {
        width: 780px;
    }
    .col-md-4 {
        width: 380px;
    }
}
