// Place all the styles related to the JobOffers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-editor-body h1 {
  color: #007a9e !important;
}

.startDate {
    text-align: right;
    margin-top: 10px;
    margin-right: 5px;
}

.small {
    font-weight: normal;
    font-size: 85%;
}

.btn-default {
  color: #e46e26;
}

.languageDIV {
    padding-left: 10px;
    padding-right: 10px;

}

#applicationEmailModal{
    .modal-footer{
        margin-top:0px;
    }
    #mail_body{
        margin-bottom:0px;
    }
}

#prolong-form {
    margin-top: 10px;

    .form-control {
        width: 50%;
        display: inline-block;
    }
}

.form-control{
    height: auto;
}

.languageDIV{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
