// Place all the styles related to the JobOffers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.startDate {
	text-align: right;
	margin-top: 10px;
	margin-right: 5px;
}

.small {
	font-weight: normal;
	font-size: 85%;
}

.btn-default {
  color: #e46e26;
}

.languageDIV {
	padding-left: 10px;
	padding-right: 10px;
}