.teaser .white h1{
  font-size: 2em;
  color:#FFFFFF; 
}

.teaser blockquote p{
  font-size: 1.1em;
  color: #313131;
}

.col-sm-6 h1{
  color:#FFFFFF; 
  border-bottom: 1px solid #FFFFFF;
}

.wrapper-12.teaser > h1{
  color:#FFFFFF; 
  border-bottom: 1px solid #FFFFFF;
}

.wrapper-12.teaser > .row{
  padding-left: 15px;
}

.wrapper-12.teaser > .panel-default{
  margin-left: 15px;
}

.wrapper-12.teaser .col-md-6{
  background-color: transparent; 
  -moz-box-shadow: none; 
  -webkit-box-shadow: none; 
  box-shadow: none;
}

.menu-dropdown {
  float: right;
  color: rgb(222, 223, 224) !important;
  font-size: 16px;
  margin-top: 4px;
  list-style: none;
  position: relative;

  .dropdown-toggle {
    color: #dedfe0;
    height: 100%;
    display: inline-block;
    position: relative;
    top: 3px;
  }
}

#social{
  width: 280px !important;
}

.col-md-12.flash-message{
  background-color: transparent !important; 
  -moz-box-shadow: none !important; 
  -webkit-box-shadow: none !important; 
  box-shadow: none !important;
  padding-bottom: 0px;
  margin-bottom: 0px;
}