.col-sm-6 h1{
  color:#FFFFFF; 
  border-bottom: 1px solid #FFFFFF;
}

.wrapper-12.teaser > h1{
  color:#FFFFFF; 
  border-bottom: 1px solid #FFFFFF;
}

.wrapper-12.teaser > .row{
  padding-left: 15px;
}

.wrapper-12.teaser > .panel-default{
  margin-left: 15px;
}

.wrapper-12.teaser .col-md-6{
  background-color: transparent; 
  -moz-box-shadow: none; 
  -webkit-box-shadow: none; 
  box-shadow: none;
}