#newsletter_creation_submit {
  margin-right: 10px;
  margin-top: -40px;
  margin-bottom: 40px;
}

#newsletter-items{
  padding-bottom: 20px;
}

#newsletter_delete{
  margin-right: 10px;
  margin-top: -40px;
  margin-bottom: 40px;
}