// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.semester {
	text-align: right;
	margin-top: 10px;
	margin-right: 5px;
}