<% content_for :content do %>
    <div class="wrapper-12 teaser">
        <div class="col-md-8">
            <%= yield %>
        </div>
    </div>
<% end %>
<%= render template: "layouts/application" %>