<!DOCTYPE html>
<html lang="en" width="100%">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body width="100%" style="margin: 0px;">
    <%= yield %>
  </body>
</html>
