<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= t('layouts.internal_employers') %> <b class="caret"></b></a>
  <ul class="dropdown-menu">

    <% @employers = Employer.internal %>
      <% @employers.each do |employer| %>
      <li><%= link_to employer.name, employer %></li>

    <% end %>
  </ul>
</li>
<li><%= link_to t('layouts.external_employers'), external_employers_path %></li>