<ul id="site_nav" class="site_nav">
  <% i = 0 %>
  <li><%= link_to t('layouts.job_offers'), job_offers_path, class: ("menu#{i+=1}") %></li>
  <li><%= link_to t('layouts.internal_employers'), employers_path, class: ("menu{i+=1}") %></li>
  <li><%= link_to t('layouts.external_employers'), external_employers_path, class: ("menu{i+=1}") %></li>
</ul>